body{
    background-color: hsl(0, 2%, 82%);
}
h1{
    color: hsla(216, 87%, 61%, 0.943);
}
form{
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(192, 190, 190, 0.792);

}
button{
    color: rgb(231, 225, 225);
    background-color: hsl(0, 82%, 55%);
}
button:hover{
    color: rgb(231, 225, 225);
    background-color: hsl(0, 66%, 47%);
}